@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Nunito:wght@200;300;400;500&display=swap');

    *{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
   }
nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    max-width: 100%;
    border-bottom: 1px solid #cacaca;
 
}
nav > .left_side{
    padding: 10px;
    display: flex;
    justify-items: space-between;
    margin: 5px;
}
nav .left_side .ed1 , .ed2{
text-transform: uppercase;
text-align: center;
font-size: 12px;
}
.ed2{
    margin-left: 11px;
    letter-spacing: 7px;
}

#span{
    position: relative;
    right: -5px;
    font-size: 20px;
}
.tee{
    font-weight: 600;
    font-size: 7px;
    line-height: 2;
    letter-spacing: 3px;
}
.links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-right: 20px;
}
.links a{
    text-decoration: none;
    background-color: red;
    padding: 12px;
    text-align: center;
    color: white;
    border-radius: 25px;
    font-weight: bold;
}
section{
    background-color: rgb(243, 246, 247);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section div{
    display: block;
   text-align: center;
   margin-bottom: 10px;
}
section div h1, p{
    text-transform: uppercase;
    color: rgb(53, 49, 49);
}
section div p{
    color: rgb(17, 86, 99);
    font-weight: 600;
}
form{
    background-color: rgb(255, 255, 255);
    border: 1px solid #cacaca;
    padding: 20px;
    width: 40vw;
    border-radius: 7px;
}
fieldset{
    border: none;
}
label{
    display: block;
    color: rgb(53, 49, 49);
}
input,
select {
    display: block;
  margin: 10px 0 10px -5px;
  width: 100%;
  min-height: 2.5em;
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 5px;
}
.checkk{
    width: unset;
    vertical-align: middle;
}
.inline{
    width: unset;
    vertical-align: middle;
    margin: -37px 0 10px 16px;
}
fieldset a{
    color: rgb(53, 49, 49);
}
input[type=submit] {
    display: inline-block;
    background-color: red;
    border-radius: 25px;
    color: white;
    margin: 20px auto;
    height: 2rem;
    font-size: 1.1rem;
    width: 100px;
}